.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
} */
.CR{
  align-content: center;
  height: 5vh;
  background-color: rgb(86, 22, 22);
  color: white;
}

.nav{
  margin: 40px;
  display: grid;
  align-items: self-start;
  justify-items: start;

}

.DDL{
  background-color: rgb(151, 50, 50);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
}
.botonp{
  background-color: gray;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
}