.titulo{
  align-content: start;
}


.CR{
  text-align: center;
  height: 5vh;
  background-color: rgb(86, 22, 22);
  color: white;
}

.nav{
  margin: 40px;
  display: grid;
  align-items: self-start;
  justify-items: start;

}

.DDL{
  background-color: rgb(176, 73, 73);
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
}
/* Boton principal */
.botonp{
  background-color: rgb(180, 180, 180);
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  border-radius: 20px;
}

.nombrepag{
  text-align: start;
}


.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100%;
}

.nav-bar {
  background-color: #ffffff;
  color: #fff;
  padding: 20px;
  margin: 20px;
}

.nav-bar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-bar li {
  margin: 10px 0;
}

.nav-bar a {
  color: #fff;
  text-decoration: none;
}

.content {
  padding: 20px;
}

.pagDDL{
  margin: 20px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: gray;
  border-radius: 20px;
}

.contenido{
  align-content: start;
}

.parapapa{
  font-size: 25px;
}

.parametroinput{
  width: 560px;
}

.correr{
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px;
}